node_modules/
dist/
build/
.env
.env.*
!.env.example
uploads/*
!uploads/.gitkeep
*.log
__pycache__/
.venv/
venv/
.DS_Store
coverage/

*.tsbuildinfo
client/vite.config.js
client/vite.config.d.ts
server/uploads/*
!server/uploads/.gitkeep
client/dist/
server/.venv/
SmartSim-Analytics.zip
